<div class="flex items-center gap-2">
  <svg
    class="w-8 h-8"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M14 6.5C14 8.98528 11.9853 11 9.5 11C7.01472 11 5 8.98528 5 6.5C5 4.01472 7.01472 2 9.5 2C11.9853 2 14 4.01472 14 6.5Z"
      fill="url(#paint0_linear)"
    />
    <path
      d="M19 17.5C19 19.9853 16.9853 22 14.5 22C12.0147 22 10 19.9853 10 17.5C10 15.0147 12.0147 13 14.5 13C16.9853 13 19 15.0147 19 17.5Z"
      fill="url(#paint1_linear)"
    />
    <defs>
      <linearGradient
        id="paint0_linear"
        x1="5"
        y1="2"
        x2="14"
        y2="11"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#3B82F6" />
        <stop offset="1" stop-color="#8B5CF6" />
      </linearGradient>
      <linearGradient
        id="paint1_linear"
        x1="10"
        y1="13"
        x2="19"
        y2="22"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#8B5CF6" />
        <stop offset="1" stop-color="#EC4899" />
      </linearGradient>
    </defs>
  </svg>
  <span
    class="text-xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500"
  >
    Videa
  </span>
</div>
